{{#extends 'layouts/main'}}
  {{#block 'body'}}
    <h1>Productos</h1>
    {{#each products}}
      <div>
        <h2>{{this.name}}</h2>
        <p>Precio: ${{this.price}}</p>
        <p>Categoría: {{this.category}}</p>
        <p>{{#if this.available}}Disponible{{else}}No disponible{{/if}}</p>
        <a href="/products/{{this._id}}">Ver detalles</a>
      </div>
    {{/each}}

    <div>
      {{#if prevLink}}<a href="{{prevLink}}">Página Anterior</a>{{/if}}
      {{#if nextLink}}<a href="{{nextLink}}">Página Siguiente</a>{{/if}}
    </div>
  {{/block}}
{{/extends}}